body{
    display: flex;
    flex-wrap: wrap;
    
}

.coco{
width: 40px;
height: 40px;
background-color: greenyellow;
text-align: center;
}

.mur{
    width: 40px;
    height: 40px;
    background-color: brown;
    text-align: center;
}
.chemin{
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    text-align: center;
}
.perso{
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
    background-color: aqua; 
}
